* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: aliceblue;
}

.container{
    margin-bottom: 1em;
}


/* Only text */
#work-title{
    text-align: center;
    font-size: 50px;
    padding-bottom: 0.5em;
}

#introduction-text{
    font-size: 25px;
}

.titles{
    padding-bottom: 7px;
}

p{
    font-size: large;
}
/* About */
#about-me{
    border: 2.5px solid lightgrey;
    border-radius: 10px;
}

#about-picture{
    max-width:150px; 
    margin-bottom: 80px; 
    margin-right:20px;
}

#about-div-father{
    display:flex; 
    align-items:center;
}

#about-div-child{
    display:inline;
}

/* Cards */
.card-img-top{
    width: 50%;
    padding-top: 1em;
}

.card-title, .card-text{
    text-align: center;
}
.card-text{
    font-size: large;
}

/* Featured work*/
#video-galapagos{
    border-radius: 10px;
    width: 99%;
    height: 500px;
    object-fit: cover;
    /*width: 100%;*/
}

#first-work, #second-work, #third-work, #fourth-work, #fifth-work{
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 1%;
}

#first-work{
    background-color: rgb(209, 225, 239);
}

#second-work{
    background-color: lightpink;
}

#third-work{
    background-color: lavender;
}

#fourth-work{
    background-color: lightgray;
}

#fifth-work{
    background-color: #adfbad;
}


/* footer */
footer{
    display: block;
    font-size: 1.2em;
    line-height: 60px;
    text-align: center;
    color: #fff;
}
#menu_footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 25%;
    margin-bottom: 0;
  }
.footer_li{
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    list-style: none;
}

a{
    text-decoration:none;
    color:white;
}
a:hover {
    text-decoration: none;
    color: inherit;
    opacity: 0.7; /* Adjust the opacity as needed */
  }


  

  
  @media screen and (max-width: 768px) {
    #menu_footer {
      flex-direction: column;
      margin-left: 0;
    }
    #about-me {
        display: block;
        text-align: center;
      }
      #about-picture {
        display: none;
      }
      #about-div-child {
        margin-top: 20px;
      }

  }

  




